{% extends 'base.html' %}
{% load rich_text %}
{% block content %}

<div class="container p-1">
    <div class="row">
        <div class="card m-auto" style="max-width: 700px;">
            <img class="card-img-top img-thumbnail d-block mx-auto" style="width: 200px; height: auto;" alt="image from a blog" src="{{blog_post.image.url}}">
            <div class="card-body">
                <h2 class="card-title">{{blog_post.title}}</h2>
                <p class="card-text">{{blog_post.body|rich_text}}</p>
                <p class="card-footer text-muted">
                    Posted by {{blog_post.author}} on {{blog_post.date_published}}.{% if blog_post.author == request.user %} <a href="{% url 'blog:edit' blog_post.slug %}">Edit</a>{% endif %}
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content%}