{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    
    .image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	
	}
	.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
	}

	.image-group:hover .image {
	  opacity: 0.3;
	}

	.image-group:hover .middle {
	  opacity: 1;
	}

	.text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
	}
</style>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="h3 mb-3 fw-normal">Edit your Post</h1>
                
                <form class='create-form' style="margin-left: 5%;" method="post" enctype="multipart/form-data">{% csrf_token %}

        
                    <!--Title-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input name="title" class="form-control" type="text" id="id_title" placeholder="Title" value="{{form.initial.title}}" required autofocus>
                    </div>

                    <!--Body-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <textarea name="body" class="form-control" mh-50 type="text" id="id_body" placeholder="This blog is about..." required rows="3">{{form.initial.body}}</textarea>
                    </div>

                    <!--Image-->
                    <div class="form-group image-group mb-3" id="id_image_group">
                        <img class="img-fluid image" src="{{form.initial.image.url}}" id="id_image_display">
                            <div class="middle">
                                <div class="text">Change image</div>
                            </div>
                        <input type="file" name="image" class="form-control" id="id_image_file" accept="image/*">
                    </div>
                    
                    {% for field in form %}            
                            {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                    {% endfor %}

                    <!--Submit-->
                    <button class="submit-button text-center btn btn-lg btn-primary btn-block" type="submit">POST</button>

                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
	document.getElementById('id_image_group').onclick = function(event){
    	document.getElementById('id_image_file').click();
    };

	function readURL(input){
		var reader = new FileReader();
		reader.onload = function (e) {
            $('#id_image_display')
                .attr('src', e.target.result)
        };
		reader.readAsDataURL(input.files[0]);
	}
</script>
{% endblock content %}