{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="username"] {
        margin-bottom: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>

<main class="form-signin w-100 m-auto text-center">
    <form method="post">{% csrf_token %}
        <img class="mb-4" src="{% static 'full_logo.png' %}" alt="" width="200" height="auto">
        <h1 class="h3 mb-3 fw-normal" style="margin-top: -15px;">Account</h1>

        <div class="form-floating m-auto">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" autofocus value={{ account_form.initial.email }}>
        <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
        <input type="Ttext" name="username" class="form-control" id="floatingInput" placeholder="Username" value={{ account_form.initial.username }}>
        <label for="floatingPassword">Username</label>
        </div>

        {% for field in account_form %}            
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
        {% endfor %}
        {% if account.non_field_errors %}
            <div style='color:red'>
                <p>{{ account.non_field_errors }}</p>
            </div>
        {% endif %}

        {% if success_message %}
            <p style="color: green; text-align: center;">{{success_message}}</p>
        {% endif %}

        <button class="btn btn-primary w-100 py-2" type="submit" style="margin-top: 10px;"> Confirm changes</button>
    </form>

    <div class="d-flex flex-column my-3">
        <p class="m-auto"><a href="{% url 'password_change' %}">Change Password</a></p>
	</div>



    <div class="container mt-4 p-4">
        <div class="row">
            <div class="blog-posts">
                <h3 class="font-weight-normal text-center">Your Posts</h3>
                {% if blog_posts %}
                <ul class="list-group">
                    {% for post in blog_posts %}
                    <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
                        <li class="list-group-item list-group-item-act">{{post}}</li>
                    </a>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock content %} 