{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>

<main class="form-signin w-100 m-auto text-center">
    <form method="post">{% csrf_token %}
        <img class="mb-4" src="{% static 'full_logo.png' %}" alt="" width="200" height="200">
        <h1 class="h3 mb-3 fw-normal" style="margin-top: -15px;">Reset Password</h1>

        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">

        {% for field in form %}            
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
        {% endfor %}

        <button class="btn btn-primary w-100 py-2" type="submit" >Send Reset Request</button>
    </form>
</main>

{% endblock content %} 