{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
</style>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'full_logo.png' %}" alt="boob" width="300" height="auto" style="background-color: transparent;">
    <h1 class="display-5 fw-bold text-body-emphasis">The Big Blue</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Explore the vast expanse of Bali's great oceans with Surfer Net. Surfer Net is an adventure blog written by many explorers across Indonesia, who have an unmatched love for exploration and the 'Big Blue'. Are you ready to explore? Feel free to browse around, or write your own content!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'blog:create' %}" class="btn btn-primary btn-lg px-4 gap-3">Create Post</a>
        <a href={% url 'blog:posts' %} class="btn btn-outline-secondary btn-lg px-4">See Blogs</a>
      </div>
    </div>
</div>

<!-- <div class="px-4 py-5 my-5 text-center">
  <img src="{% static 'down_arrow.svg' %}" class="d-block mx-auto mb-4" width="50" height="auto">
</div> -->
<div class="container"> 
        <div class="d-flex flex-column m-auto align-items-center">
            <h1>Member List</h1>
            <p>Here's all of our current members</p>
        
        {% for account in accounts %}
            <p>{{account}}, ({{account.date_joined}})</p>
        {% endfor %}        
    </div>
</div>




{% endblock content %} 